@tailwind base;
@tailwind components;
@tailwind utilities;

div.error:has(> span:empty) {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img.spin {
  animation: spin 2s linear infinite;
}

[data-loading] {
  display: none;
}
