form(method="post")
  fieldset(class="space-y-4")
    legend(class="sr-only") contact
    input(type="hidden", name="id", value=contact.id)
    +inputText({name: 'firstName', placeholder: 'Enter your first name', error: errors ? errors.firstName : null, value: contact.firstName})
    +inputText({name: 'lastName', placeholder: 'Enter your last name', error: errors ? errors.lastName : null, value: contact.lastName})
    +inputText({name: 'phone', placeholder: 'Enter your phone number', error: errors ? errors.phone : null, value: contact.phone})
    +inputText({name: 'email', type: "email", placeholder: 'Enter your email', error: errors ? errors.email : null, value: contact.email})
    div(class="flex items-center gap-4")
      button(type="submit", class="btn btn-primary") Submit
      a(class="link", href="/contacts") Back
